.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;

  div {
    font-size: smaller;
    background: orange;
    width: 0;
  }
}

#courses {
  .panel {
    .title {
      text-align: center;
    }

    .content {
      width: 100%;
      height: 100%;
    }

  }
}

.panel-heading {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.item-description {
  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
  }
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.video-picture {
  img {
    width: 200px;
    height: 100px;
  }
}

.help-block {
  color: red;
}

