<div id="courses" class="container">
  <div ng-show = "{{layout.checkRole('lecturer')}}" >
    <div class="row">
      <div>
        <div class="form-group"><button class="btn btn-default" ng-click="course.changeVisible()" >Add course</button></div>
        <form class="form-inline" role="form" ng-show="course.visible" data-ng-submit="course.createCourse()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="course" ng-model="course.nameCourse">
          </div>
          <button type="submit" class="btn btn-default">Add</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4" ng-repeat="course in course.courses ">
      <div class="panel panel-default">
        <div class="panel-heading title">
          <a ui-sref="applicationLayout.homeLayout.video({id: {{ course.id }} })" class="link_to_course">{{ course.name }}</a>
        </div>
        <div class="panel-body content">
          <img class="content" src="http://files8.adme.ru/files/news/part_33/334805/cats5.jpg" />
        </div>
      </div>
    </div>
  </div>

</div>
