<!--<h1>Video </h1>-->
<div ng-show = "{{layout.checkRole('lecturer')}}" >
  <div class="form-group"><button class="btn btn-default" ng-click="video.changeVisible()" >Add video</button></div>
  <form ng-show="video.visible" class="form-horizontal" role="form" data-ng-submit="video.submit()" name="videoForm">
    <div class="form-group">
      Title:
      <input type="text" name="name" ng-model="video.name" size="31" required>
    </div>
    <div class="form-group">
      <div class="btn btn-default" ngf-select ng-model="video.file" name="file"
           ngf-pattern="'video/*'" accept="video/*" ngf-max-size="2000MB" required>Select</div>
      <i ng-show="videoForm.file.$error.required">*required</i>
      <i ng-show="video.file">{{ video.file.name }} </i>
    </div>
    <div class="form-group" ng-show="videoForm.file.$error.maxSize">
      <i>File too large</i>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="video.file = null" ng-show="video.file">Remove</button>
    </div>
    <div class="form-group">
      <button type="submit" ng-disabled="!videoForm.$valid" class="btn btn-default">submit</button>
    </div>

    <div class="form-group">
      <div class="progress" ng-show="video.file.progressPercentage >= 0">
        <div ng-style="{ 'width' : video.file.progressPercentage + '%'  }"
             ng-bind="video.file.progressPercentage + '%'"></div>
      </div>
    </div>
    <div class="form-group">
      <div ng-show="video.file.progressPercentage">Upload Successful</div>
      <div class="err" ng-show="errorMsg">{{ video.errorMsg }}</div>
    </div>
  </form>
</div>

<div class="list-group">
  <a ui-sref="applicationLayout.homeLayout.currentVideo({id: {{ video.id }} })" class="list-group-item row" ng-repeat=" video in video.videos ">
    <div class="col-md-4 video-picture row">
      <img style="width: 200px; height: 100px" src="http://girldasha.ucoz.ru/_ph/1/426131931.jpg">
    </div>
    <div class="col-md-8 video-description">
      <h3 data-ng-bind="video.name"></h3>
      <p style="text-overflow:ellipsis; white-space: nowrap; overflow: hidden;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam magna ex, euismod ultrices leo nec, hendrerit laoreet felis. Suspendisse in est at mauris maximus blandit. Vestibulum vehicula tincidunt nisi, et hendrerit risus porta vitae. Quisque eleifend commodo iaculis. Nam vestibulum, erat a lobortis luctus, ex mauris ultrices turpis, et fermentum turpis ipsum sed dui. Vivamus tincidunt quam ipsum, sit amet efficitur dolor volutpat vitae. Vestibulum ac lobortis enim. Sed a dolor vitae est gravida vestibulum. Nam nec enim non quam maximus pretium. Praesent at pellentesque lectus. Phasellus quis luctus ante, vel consequat lacus. Proin laoreet dignissim ante, pellentesque lacinia ligula maximus at. Etiam turpis dolor, feugiat vitae finibus sed, volutpat ac est. Nunc varius odio eu lectus pharetra, nec molestie libero egestas. Proin tempor venenatis arcu, at pharetra nunc congue et.
      </p>
    </div>
  </a>
</div>

