<h1>Video </h1>

<form class="form-horizontal" role="form" data-ng-submit="video.submit()" name="videoForm">
  <div class="form-group">
    <div class="btn btn-default" ngf-select ng-model="video.file" name="file"
         ngf-pattern="'video/*'" accept="video/*" ngf-max-size="2000MB" required>Select</div>
    <i ng-show="videoForm.file.$error.required">*required</i>
    <i ng-show="video.file">{{ video.file.name }} </i>
  </div>
  <div class="form-group" ng-show="videoForm.file.$error.maxSize">
    <i>File too large</i>
  </div>
  <div class="form-group">
    <button class="btn btn-default" ng-click="video.file = null" ng-show="video.file">Remove</button>
  </div>
  <div class="form-group">
    <button type="submit" ng-disabled="!videoForm.$valid" class="btn btn-default">submit</button>
  </div>

  <div class="form-group">
    <div class="progress" ng-show="video.file.progressPercentage >= 0">
      <div ng-style="{ 'width' : video.file.progressPercentage + '%'  }"
           ng-bind="video.file.progressPercentage + '%'"></div>
    </div>
  </div>
  <div class="form-group">
    <div ng-show="video.file.progressPercentage">Upload Successful</div>
    <div class="err" ng-show="errorMsg">{{ video.errorMsg }}</div>
  </div>
</form>


<videogular vg-theme="video.config.theme">
  <vg-media vg-src="video.config.sources">
  </vg-media>

  <vg-controls>
    <vg-play-pause-button></vg-play-pause-button>
    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
    </vg-scrub-bar>
    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
    <vg-volume>
      <vg-mute-button></vg-mute-button>
      <vg-volume-bar></vg-volume-bar>
    </vg-volume>
    <vg-fullscreen-button></vg-fullscreen-button>
  </vg-controls>

  <vg-overlay-play></vg-overlay-play>
  <!--<vg-poster vg-url='video.config.plugins.poster'></vg-poster>-->
</videogular>
