<div class="video-play col-md-8 col-md-offset-1">
  <videogular>
    <vg-media vg-src="video.config.sources">
    </vg-media>

    <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
      <vg-volume>
        <vg-mute-button></vg-mute-button>
        <vg-volume-bar></vg-volume-bar>
      </vg-volume>
      <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>

    <vg-overlay-play></vg-overlay-play>
  </videogular>
  <comment video="video" add-comment="addComment()"></comment>
</div>
<div class="col-md-3 ">
  <div class="thumbnail">
    <img ng-src={{video.video.image}}>
    <div class="caption item-description">
      <h3>{{video.video.name}}</h3>
      <p>{{video.video.description}}</p>
    </div>
    <div class="panel-body">
      <button popover-template="'popover.html'"
        popover-placement="bottom"
        popover-trigger="mouseenter"
        type="button"
        class="fa fa-thumbs-up" ng-click="video.vote('like')"
        ng-disabled="video.checkVoter(video.video.author_id)">{{ video.video.like_size }}
      </button>
      <button class="fa fa-thumbs-down" ng-click="video.vote('dislike')" ng-disabled="video.checkVoter(video.video.author_id)">{{ video.video.dislike_size }}</button>

      <script type="text/ng-template" id="popover.html">
        <div>
          Popover content:
        </div>
      </script>
    </div>
  </div>
</div>




