<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <div class="form-group">
        <div ng-show="video.isSubscribe"><span>You are already subscribed!</span></div>
        <button ng-show="!video.isSubscribe" class="btn btn-default" ng-click="video.subscribeCourse()">Subscribe</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="list-group col-md-9">
      <a ui-sref="applicationLayout.video({id: {{ video.id }} })" class="list-group-item row" ng-repeat=" video in video.videos ">
        <div class="col-md-4 video-picture row">
          <img ng-src = {{video.image}}>
        </div>
        <div class="col-md-8 item-description">
          <h3 data-ng-bind="video.name"></h3>
          <p>{{ video.description }}</p>
        </div>
      </a>
    </div>

    <div class="col-md-3 ">
      <div class="thumbnail">
        <img ng-src={{video.meta.image}}>
        <div class="caption item-description">
          <h3>{{video.meta.name}}</h3>
          <p>{{video.meta.description}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
