<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form role="form" data-ng-submit="auth.signUp()">
        <div class="text-center">
          <div class ="form-group">Sign up</div>
        </div>
        <div class="input-group-lg input-full-width">
          <div class ="form-group"><input type="email" placeholder="Email" ng-model="auth.credentials.email" class="form-control"></div>
          <div class ="form-group"><input type="password" placeholder="Password" ng-model="auth.credentials.password" class="form-control"></div>
          <div class ="form-group"><input type="password" placeholder="Password confirmation" ng-model="auth.credentials.password_confirmation" class="form-control"></div>
        </div>
        <div>
          <button class="btn btn-default pull-right">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
