<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <div class="form-group">
        <div ng-show="video.isSubscribe"><span>You are already subscribed!</span></div>
        <button ng-show="!video.isSubscribe" class="btn btn-default" ng-click="video.subscribeCourse()">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4" ng-repeat=" video in video.videos ">
      <a ui-sref="applicationLayout.homeLayout.currentVideo({id: {{ video.id }} })" class="link_to_course">{{ video.name }}</a>
    </div>
  </div>
</div>
