<div id="courses" class="container">
  <div class="row">
    <div class="col-xs-4" ng-repeat=" item in courses.courses ">
      <a ui-sref="applicationLayout.videos({id: {{ item.id }} })" class="link_to_course">
        <div class="panel panel-default">
          <div class="panel-heading title">
            {{ item.name }}
          </div>
          <div class="panel-body">
            <img class="content" ng-src = {{item.image}} />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
